/*@import url(https://fonts.googleapis.com/css?family=Lato);*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);


*,
*::before,
*::after {

    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('https://wallpapercave.com/wp/wp2610147.jpg');




}

.form {
    margin: 40px;
    padding: 10px;
    position: absolute;
    top: 20%;
    left: 40%;
    color: blanchedalmond;
}

.form-middle {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"],
input[type="checkbox"] {

    border-radius: 6px;
    border-top: None;
    border-right: None;
    border-left: none;
    background-color: transparent;
    line-height: 40px;
    padding: 5px 0;
    display: ruby-text;
    outline: none;
    font-size: 1rem
}

.btn-Login {

    padding: 10px 10px;
    margin: 45px;
    height: 43px;
    width: 7pc;
    border-radius: 1pc;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    outline: none;
    color: blanchedalmond;
    ;
    background-color: transparent;
}

.btn-Login:hover {
    color: green;
}

.btn-Login:active {
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}

.form-lower {
    color: blanchedalmond;
}